src/main/resources/error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">

    <xsd:element name="error">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="type" type="ErrorCode"/>
                <xsd:element name="msg" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="ErrorCode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EVALERR"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
